h1 {text-align: center;}
p {text-align: center; font-family:  'Times New Roman'; font-size: 25px; font-weight: bolder;}

.bilder {float:left; width: 25%; padding: 20px;border-radius: 50%;}
#omaimas { width: 20px;height: 40px; position: relative;left: 50px; right: 100px;}