h1 {text-align: center;}
p {text-align: center; font-family:  'Times New Roman'; font-size: 25px; font-weight: bolder;}


.bilder {width:100%; height:auto; padding-bottom: 5%;}
 .bilder div{width:50%; height:auto; float: left;}
 .bilder img{width: 100%; height:auto;}


