

/*-----Sofias sida-----*/
.sQuoteBox{clear: both; background-color: #D4AF37; margin: 3em 0 2em;}
.sQuoteBoxContent {padding: 2em; text-align:center; font-size: 40px; color: #0000AA;}




@media screen and (min-width: 800px) {
     /*-----Kontaktsida-----*/

}

@media screen and (min-width: 1350px) {

    /*-----Kontaktsida-----*/


}